// index.scss
@use 'sass:color';
@use 'tailwindcss';

@theme {
  /* Semantic colors */
  --color-primary: #e8505e;
  --color-secondary: #bbfdf5;
  --color-accent: #d5fdad;
  --color-neutral: #ececec;
  --color-surface: #fbeeee;
  --color-success: #eaffd6;
  --color-info: #ebffd8;
  --color-text-dark: #565656;
  --color-black: #000000;
  --color-white: #ffffff;
  --color-custom-blue: #4c4fa9;
  --color-custom-grey: #c1c1c1;

  /* Custom breakpoints*/
  --breakpoint-xs: 480px;
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-xxl: 1536px;
  --breakpoint-wide: 1920px;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  font-family: 'Montserrat', system-ui;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: $surface;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;

  // Custom scrollbar
  ::-webkit-scrollbar {
    width: 8px;
  }

  ::-webkit-scrollbar-track {
    background: $surface;
  }

  ::-webkit-scrollbar-thumb {
    background: $primary;
    border-radius: 10px;

    &:hover {
      background: color.adjust($primary, $lightness: -10%);
    }
  }
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
